<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>microblog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExplorController</display-name>
    <servlet-name>ExplorController</servlet-name>
    <servlet-class>sku.microblog.web.controller.ExplorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExplorController</servlet-name>
    <url-pattern>/explor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>sku.microblog.web.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>sku.microblog.web.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/dukeshopDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>casestudy.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>ExplorController</servlet-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-name>BoardController</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>sku.microblog.web.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogController</display-name>
    <servlet-name>BlogController</servlet-name>
    <servlet-class>sku.microblog.web.controller.BlogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogController</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
</web-app>